<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Math IO{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favico.png">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav class="nav-wrapper">
    <a href="#" class="brand-logo">
        <img src="/static/logo_white.png" alt="Math IO logo" width="150" >
    </a>
    <ul id="nav-mobile">
        <li><a href="/">Strona główna</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/matmul">Matrix multiplication</a></li>
        <li><a href="/api/json">API</a></li> <!-- Added new list item for JSON API -->
    </ul>
    </nav>
    <div style="margin-left: 260px;">
        {% block content %}{% endblock %}
    </div>
</body>
</html>