{% extends "base.html" %}

{% block title %}API{% endblock %}

{% block content %}
<body>
    <h2>Logowanie</h2>
    <form id="loginForm">
        <label for="username">Nazwa użytkownika:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <button type="submit">Zaloguj się</button>
    </form>

    <script src="/static/script.js"></script>
</body>
{% endblock %}