{% extends "base.html" %}

{% block title %}API{% endblock %}

{% block content %}
<h1>Matrix Multiplication</h1>
<p>Enter two matrices A<sub>MxN</sub> and B<sub>NxL</sub></p>
<form action="/matmul" method="post">
    <div class="matrix-inputs">
        <div>
            <label for="inputText1" accesskey="a">Matrix A:</label>
            <textarea id="inputText1" name="inputText1">{{ textA }}</textarea>
        </div>
        <div>
            <a class="operator">x</a>
        </div>
        <div>
            <label for="inputText2" accesskey="b">Matrix B:</label>
            <textarea id="inputText2" name="inputText2">{{ textB }}</textarea>
        </div>
        <div>
            <a class="operator">=</a>
        </div>
         <div>
            <label for="resultText" class="matrix-results" accesskey="c">Result AxB:</label>
            <textarea id="resultText" name="resultText" readonly>{{ resultText }}</textarea>
        </div>
    </div>
    <button type="submit">Calculate</button>
</form>
<br>

{% endblock %}